@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,500&family=Roboto:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    color: green;
    font-family: roboto, sans-serif;
}